pip install torch==1.8.1
pip install accelerate
pip install datasets
pip install huggingface_hub
pip install jsonx
pip install matplotlib
pip install numpy
pip install pandas
pip install seaborn
pip install tqdm
pip install scikit-learn
pip install transformers